# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

Help2HelpMobileApp/Help2Help/.idea/
Help2HelpMobileApp/Help2Help/.sass-cache/
Help2HelpMobileApp/Help2Help/.tmp/
Help2HelpMobileApp/Help2Help/.versions/
Help2HelpMobileApp/Help2Help/coverage/
Help2HelpMobileApp/Help2Help/dist/
Help2HelpMobileApp/Help2Help/node_modules/
Help2HelpMobileApp/Help2Help/tmp/
Help2HelpMobileApp/Help2Help/temp/
Help2HelpMobileApp/Help2Help/hooks/
Help2HelpMobileApp/Help2Help/platforms/
Help2HelpMobileApp/Help2Help/plugins/
Help2HelpMobileApp/Help2Help/plugins/android.json
Help2HelpMobileApp/Help2Help//plugins/ios.json
Help2HelpMobileApp/Help2Help/www/
$RECYCLE.BIN/
Help2HelpMobileApp/Help2Help/simulation/
Help2HelpMobileApp/.vs/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.vs/
bin/
bld/
*.user
*.suo
